/node_modules
/vendor
/.git
/.idea
/.vscode
.env
.env.local
.env.*.local
.env.backup
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.phpunit.cache
